@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.RiverList>
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@

<!-- Main -->
<div id="main">

    <!-- Featured Post -->
    <article class="post featured">
        @Html.Partial("~/Views/Partials/pageHeader.cshtml")
        @*<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>*@
    </article>
    @Html.Partial("~/Views/Partials/latestArticles.cshtml")

</div>